header {
  position: fixed;
  width: 100%;
  top: 0;
}

#nav-bar{
  display: flex;
  flex-direction: column;
}

#main {
  margin-top: 90px; /* Add a top margin to avoid content overlay */
  height: 1500px;
}

@media (max-height: 800px){ 
  p {
  font-size: 10px;
    }
}
  
